Repository AMIOL7/ELME, pull requests merged in 2022-12, with the labels that each got.

#37 Visualization
  app/assets/background.png
  app/assets/port/Input_empty.png
  app/assets/port/Output_empty.png
  app/src/main/java/ELME/App.java
  app/src/main/java/ELME/Controller/ImageLoader.java
  app/src/main/java/ELME/Controller/LinkInfo.java
  app/src/main/java/ELME/Controller/LogicEntity.java
  app/src/main/java/ELME/View/GraphLayoutContainer.java
  app/src/main/java/ELME/View/MainScreen.java
  app/src/main/java/ELME/View/SideMenu.java
  app/src/main/java/ELME/View/Toolbar.java
Labels: view

#47 Add truth table generator
  app/src/main/java/ELME/Model/Serializer.java
Labels: model

#54 Experimental view with simulation
  app/assets/port/Input_no_signal.png
  app/assets/port/Input_signal.png
  app/assets/port/Output_no_signal.png
  app/assets/port/Output_signal.png
  app/src/main/java/ELME/Controller/ConnectionStatus.java
  app/src/main/java/ELME/Controller/ImageLoader.java
  app/src/main/java/ELME/Controller/LogicEntity.java
  app/src/main/java/ELME/Model/Graph.java
  app/src/main/java/ELME/Model/InputPort.java
  app/src/main/java/ELME/Model/Node.java
  app/src/main/java/ELME/Model/Nodes/ConstantNode.java
  app/src/main/java/ELME/Model/OutputPort.java
  app/src/main/java/ELME/Model/Port.java
  app/src/main/java/ELME/Model/Serializer.java
  app/src/main/java/ELME/View/GraphLayoutContainer.java
  app/src/main/java/ELME/View/MainScreen.java
  app/src/main/java/ELME/View/SideMenu.java
  app/src/test/java/ELME/ModelTests/ModelTest.java
Labels: model, view
