Repository AMIOL7/ELME, pull requests merged in 2022-10, with the labels that each got.

#10 Updated README.md to contain project information and build instructions
  README.md
Labels: documentation

#15 Changed Boolean to Optional<Boolean> in Nodes and Ports
  app/src/main/java/Model/InputPort.java
  app/src/main/java/Model/Node.java
  app/src/main/java/Model/Nodes/ANDNode.java
  app/src/main/java/Model/Nodes/ODDNode.java
  app/src/main/java/Model/Nodes/ORNode.java
  app/src/main/java/Model/Nodes/XORNode.java
  app/src/main/java/Model/OutputPort.java
  app/src/main/java/Model/Port.java
Labels: model

#16 Camera control
  app/build.gradle
  app/src/main/java/ELME/App.java
  app/src/main/java/ELME/View/CustomWheelListener.java
  app/src/main/java/ELME/View/MainScreen.java
  app/src/main/java/ELME/View/MouseDraggedListener.java
Labels: view
